header {
  color: #20cc7a;
  font-family: 'Rationale', sans-serif;
  font-size: 48px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.top-line {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.search-bar {
  position: relative;
  left: 80%;
  border: 1px solid;
  padding: 5px 5px;
  border-radius: 10px;
}

.search-box {
  border: none;
}

.searchBTN {
  border: none;
  color: #20cc7a;
  background-color: white;
}

.icon {
  color: white;
}

@media (max-width: 1124px) {
  /* .search-bar {
    left: 70%;
  } */

  .div-container {
    left: 70%;
  }

  .icon {
    color: white;
  }


}

@media (max-width: 747px) {
  .search-box {
    display: none;
  }

  .div-container {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .iconify {
    color: #20cc7a;
    height: 42px;
    width: 42px;
    position: relative;
    left: 90%;
    display: show;
  }


}

.div-container {
  position: relative;
  left: 80%;
}
  .favorite-list > ul {
    width: 65%;
  }
}

ul {
  border: 1px solid yellow;
  font-family: 'Russo one', sans-serif;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  left: 1%;
  transform: translateX(-1%);
  background-color: white;
  list-style: none;
  padding-bottom: 10px;
}

.li-icon {
  width: 10%;

  /* position: relative; */
  top: 6px;
  padding: 2px;
}

.listing > img {
  height: 30px;
  margin-left: 15px;
  position: relative;
  top: 5px;
}

/* coin data page */

.new-row {
  display: flex;
}

.coin-data {
  font-family: 'Russo one', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ededed;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.col-half {
  flex-basis: calc(100% / 2);
  text-align: center;
}

.new-row > img {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
