header {
  color: #20cc7a;
  font-family: 'Rationale', sans-serif;
  font-size: 48px;
  width: 50%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.top-line {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.search-bar {
  position: relative;
  left: 80%;
  border: 1px solid;
  padding: 5px 5px;
  border-radius: 10px;
}

.search-box {
  border: none;
}

.searchBTN {
  border: none;
  color: #20cc7a;
  background-color: white;
}

.icon {
    width: 50px;
    position: relative;
    left: 80%;
}

.iconify {
    color: #20cc7a;
    height: 42px;
    width: 42px;
    /* position: relative;
    left: 90%;
    display: show; */
  }

@media (max-width: 1124px) {
  /* .search-bar {
    left: 70%;
  } */

  /* .div-container {
    left: 70%;
  }

  .icon {
    color: white;
  } */


}

@media (max-width: 747px) {
  /* .search-box {
    display: none;
  } */

  /* .div-container {
    display: none;
  }

  .search-bar {
    display: none;
  } */

  /* .iconify {
    color: #20cc7a;
    height: 42px;
    width: 42px;
    position: relative;
    left: 90%;
    display: show;
  } */


}

.div-container {
  position: relative;
  left: 80%;
}
  .favorite-list > ul {
    width: 65%;
  }


ul {
  border: 1px solid black;
  font-family: 'Russo one', sans-serif;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  left: 1%;
  transform: translateX(-1%);
  background-color: white;
  list-style: none;
  padding-bottom: 10px;
}

.li-icon {
  width: 10%;
  top: 6px;
  padding: 2px;
}

.listing > img {
  height: 30px;
  margin-left: 15px;
  position: relative;
  top: 5px;
}

.listing{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

/* coin data page */

.new-row {
  display: flex;
}

/* .coin-data {
  font-family: 'Russo one', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ededed;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
} */

.col-half {
  flex-basis: calc(100% / 2);
  text-align: center;
}

.new-row > img {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

button,
.fav-list,
.listing,
.icon {
  cursor: pointer;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  background-color: white;
  z-index: 1;
  bottom: 1px;
  border: 1px solid red;
  top: 50%;
  left: 50%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#search-ul{
  position: fixed;
    /* left: 40%; */
    z-index: 1;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 99%;
}

/*
#search ul iphone
position: fixed;
    left: 3%;
    z-index: 1;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 95%;
 */

 @media screen and (min-width: 768px){
   #search-ul{
     width: 70%;
     left: 15%;
     height: 90%;
     margin-bottom: 10px;
   }
 }


 @media screen and (min-width: 1280px){
   #search-ul{
     width: 300px;
     left: 61%;
     height: 300px;
     margin-bottom: 10px;
   }

   .modal-container{
     width: 50%;
   }
 }

 @media screen and (min-width: 1680px){
   #search-ul{
     width: 300px;
     left: 63%;

   }
 }

 @media screen and (min-width: 2200px){
   #search-ul{
     left: 67%;
   }
 }
