.hidden {
  display: none;
}

a{
  font-size: 1rem;
}

.alert {
  background-color: #20cc7a;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px;
  font-family: 'rationale', sans-serif;
}

.use-search {
  background-color: #20cc7a;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px;
  font-family: 'rationale', sans-serif;
}

.yt-close {
  background-color: #f41515;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'rationale', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
}

.yt-player {
  margin-top: 15px;
  justify-content: center;
  display: flex;
}



.search-modal {
  border: 1px solid;
  height: 40px;
  border-radius: 10px;
  overflow: auto;
  position: relative;
  bottom: 55px;
  background-color: white;
  box-shadow: 0 0 10000px 1000px rgba(16, 16, 17, 0.9);
}

.search-input {
  width: 80%;
  height: 35px;
  border: none;
}

.cancel-modal {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
}

.mobile-dropdown {
  background-color: white;
  position: relative;
  left: 20%;
  width: 300px;
}

#mobile-ul {
  background-color: white;
  position: relative;
  left: 6%;
  width: 90%;
}

.goHome {
  background-color: red;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
}

.addToFav {
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
}

.favorite-list {
  text-align: center;
  font-family: 'rationale', sans-serif;
}

/* add media */
.favorite-list > ul {
  width: 97%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border: 1px solid grey;
  background-color: azure;
}

.favorite-list > li {
  margin: 5px;
}

.coin-data {
  font-family: 'Russo one', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ededed;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* @media (min-width: 765px){
  .favorite-list > ul {
      width: 65%;
  }

  .coin-data{
    width: 65%;
  }

  .news{
    width: 99%;
   }

   .news-post{
    font-size: 1rem;
   }
} */

@media (min-width: 749px) {
  .search-bar{
    left: 73%;
  }

  header{
    position: relative;
    top: 40px;
    left: 20%;
  }
}

.fav-icon {
  position: relative;
  top: 17px;
}

.fav-list {
  border: 1px solid black;
  padding:10px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.removeFav {
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
  width: 175px;

}

.modal-container {

  box-shadow: 0 0 100000px 10000px rgba(16, 16, 17, 0.9);
  position: relative;
  left: 50%;
  bottom: 30vh;
  transform: translateX(-50%);
  z-index: 1;
}

.delete-modal {
  background-color: white;
  height: 170px;
  padding: auto;
}

.cancel,
.yes {
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
  width: 150px;
}

.modal-text {
  font-family: 'rationale', sans-serif;
  justify-content: center;
  margin-bottom: 20px;
}

.news {
  text-align: center;
  font-family: 'rationale', sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid black;

  text-align: center;
    font-size: 2rem;
    width: 99%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    margin-left: 10px;
}


.new-headlines > h3{
    font-family: 'rationale', sans-serif;
    border: 1pc solid red;

}
.news-post{
  position: relative;
  left: 48%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 17px;
  background-color: white;
  margin-top: 15px;
}

.news-icon{
  width: 85%;
  padding-top: 10px;
}

.news-headline{
  font-size: 1rem;
}

.news-list > ul{
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  position: absolute;
}

.news-list{
  background-color: #F0FFFF;
  width: 99%;
}



@media (min-width: 765px){
  .favorite-list > ul {
      width: 65%;
  }

  .coin-data{
    width: 65%;
  }

  .news{
    width: 65%;
   }

   .news-post{
    font-size: 1rem;
   }

   .news-icon{
     width: 65%;
   }
}
