.hidden {
  display: none;
}

a{
  font-size: 1rem;
}
/* Top Nav */
header {
  color: #20cc7a;
  font-family: 'Rationale', sans-serif;
  font-size: 3rem;
  width: 50%;
}

.top-line {
  border-bottom: 1px solid black;
  padding-bottom: .6rem;
}

.icon {
  position: relative;
  left: 80%;
}

.iconify {
  color: #20cc7a;
  height: 42px;
  width: 42px;
}

.search-box{
  width: 80px
}

.alert {
  background-color: #20cc7a;
  text-align: center;
  margin-top: .5rem;
  border-radius: 10px;
  padding: 3px;
  font-family: 'rationale', sans-serif;
}

.use-search {
  background-color: #20cc7a;
  text-align: center;
  margin-top: .5rem;
  border-radius: 10px;
  padding: 3px;
  font-family: 'rationale', sans-serif;
}

/* youtube video */
.yt-close {
  background-color: #f41515;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'rationale', sans-serif;
  font-size: 2rem;
  margin-top: .6rem;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
}

.yt-player {
  margin-top: .8rem;
  justify-content: center;
  display: flex;
}


/* adding to favorites */
.go-home {
  background-color: red;
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  margin: 0 5px;
}

.add-to-fav {
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  margin: 0 5px;
}

.favorite-list {
  text-align: center;
  font-family: 'rationale', sans-serif;
}

/* add media */
.favorite-list > ul {
  width: 110%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid grey;
  background-color: azure;
}

.favorite-list > li {
  margin: 5px;
}

.coin-data {
  font-family: 'Russo one', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ededed;
  margin-bottom: 1.1rem;
  padding-bottom: 10px;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


@media (min-width: 749px) {
  .search-bar{
    left: 73%;
  }

  header{
    position: relative;
    top: 40px;
    left: 20%;
  }
}


.fav-icon {
  position: relative;
  top: 17px;
}

.fav-list {
  border: 1px solid black;
  padding:10px;
  background-color: white;
  border-radius: .6rem;
  margin-bottom: .8rem;
}

/* removing from favorites */
.remove-fav {
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  margin: 0 8px;
}

.modal-container {

  box-shadow: 0 0 100000px 10000px rgba(16, 16, 17, 0.9);
  position: relative;
  left: 50%;
  bottom: 30vh;
  transform: translateX(-50%);
  z-index: 1;
}

.delete-modal {
  background-color: white;
  height: 170px;
  padding: auto;
}

.cancel,
.yes {
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  width: 150px;
}

.modal-text {
  font-family: 'rationale', sans-serif;
  justify-content: center;
  margin-bottom: 1.1rem;
}

/* news section */
.news {
  text-align: center;
  font-family: 'rationale', sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 2rem;
  width: 110%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1.6rem;
}


.new-headlines > h3{
    font-family: 'rationale', sans-serif;
    border: 1pc solid red;
    padding: .4rem;

}

.news-post{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: white;
  margin-top: .8rem;
  width: 95%;
}

.news-icon{
  width: 85%;
  padding-top: 10px;
}

.news-headline{
  font-size: 1rem;
  padding: 5px;
}

.news-list > ul{
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  position: absolute;

}

.news-list{
  background-color: #F0FFFF;
  width: 99%;
  padding: 0;
}


@media (min-width: 765px){
  .favorite-list > ul {
    width: 65%;
  }

  .coin-data{
    width: 65%;
  }

  .news{
    width: 65%;
  }

  .news-post{
    font-size: 1rem;
  }

  .news-icon{
    width: 65%;
  }
}
